In [1]:
a,b=15,4
sum = a+b
sub = a-b
product = a*b
division = a/b
floor_division = a//b
modulos = a%b

print(f"Sum: {sum}\nSubtraction: {sub}\nProdut: {product}\nDivision: {division}\nFloor Division: {floor_division}\nModulos: {modulos} ")

Sum: 19
Subtraction: 11
Produt: 60
Division: 3.75
Floor Division: 3
Modulos: 3

In [2]:
num_1 = 10
num_2= 5.6
num_3 =4.43

print(float(num_1), type(float(num_1)))
print(int(num_2), type(int(num_2)))
print(str(num_3), type(str(num_3)))

10.0 <class 'float'>
5 <class 'int'>
4.43 <class 'str'>

In [3]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
print(fruits[0],"\n",fruits[-1],"\n",fruits[3])

apple
 orange
 coconut

In [4]:
numbers = [10, 20, 30, 40, 50]
print(numbers[:3])
print(numbers[-2:])
print(numbers[1:])
print(numbers[:-1])
print(numbers[::2])
print(numbers[::-1])

[10, 20, 30]
[40, 50]
[20, 30, 40, 50]
[10, 20, 30, 40]
[10, 30, 50]
[50, 40, 30, 20, 10]

In [5]:
nums = [1, 2, 3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

In [6]:
nums.insert(0,99)
print(nums)

[99, 1, 2, 3, 10]

In [8]:
nums.sort()
print(nums)

[1, 2, 3, 10, 99]

In [19]:
order = ["burger", "fries", "coke"]
order

['burger', 'fries', 'coke']

In [20]:
order.append('ice-cream')
order

['burger', 'fries', 'coke', 'ice-cream']

In [21]:
order.remove("Baryani") # The Given Value is not available in list so it through an error

ValueError: list.remove(x): x not in list

In [23]:
order

['burger', 'fries', 'coke', 'ice-cream']

In [31]:
passengers = ["Ali", "Zara", "Ahmed"]

In [32]:
passengers.insert(1,"Sara")
passengers

['Ali', 'Sara', 'Zara', 'Ahmed']

In [33]:
passengers.remove("Zara")

In [35]:
passengers

['Ali', 'Sara', 'Ahmed']

In [39]:
passengers.reverse()

In [40]:
passengers

['Ahmed', 'Sara', 'Ali']